html {
  font-size: 16px;
  font-family: "Roboto Mono", monospace;
}

.table {
  display: grid;
  max-width: 700px;
  border: 1px solid rgba(255, 0, 0, 0.2);
}

.row-head {
  font-weight: bold;
}

.cell {
  display: inline-block;
  font-size: 0.8rem;
  padding: 0.2rem;
  text-align: center;
  width: 4%;
}
.row:nth-child(even) {
  background: rgba(0, 0, 0, 0.02);
}
.cell:nth-child(2) {
  width: 42%;
  text-align: left;
}

.row:nth-child(2) {
  background: rgba(255, 174, 0, 0.8);
}
.row:nth-child(n + 3):nth-child(-n + 5) {
  background: rgba(255, 174, 0, 0.4);
}
.row:nth-child(6) {
  background: rgba(255, 174, 0, 0.2);
}
.row:nth-child(n + 19):nth-child(-n + 21) {
  background: rgba(255, 0, 0, 0.1);
}
